<div class="User" user-name="{{userName}}">
    <div class = "user_icon">
        <img src="{{iconURL}}">
    </div>
    <div class = "user_name">
        <h4>{{userName}}</h4>
    </div>
    <button id="voteButton" type="click">Choose</button>
</div>