<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../game.css">

    <title>Mafia Game</title>
    <h1 id="game_title">Mafia Game</h1>
    <h3 id="round_num">Round #X</h3>

    <h2 class="game_state" id="vote_state">Voting Time</h2>
    <h2 class="game_state" id="story_state">Story Mode Time</h2>
    <h2 id="time-title">Time Remaining:</h2>
    <h3> id="time">Time Remaining: 5:00</h3>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.js" charset="utf-8"></script>
    <script src="../../game.js" charset="utf-8" defer></script>
    <script src="../../userIconTemplate.js" charset="utf-8" defer></script>
</head>

<body>

{{{body}}}


<script src="../game.js" type="module"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
</script>
</body>
</html>