<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../game.css">

    <title>Mafia Game</title>
    <h1 id="game_title">Mafia Game</h1>
    <h3 id="round_num">Round #1</h3>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.js" charset="utf-8"></script>
    <script src="../../game.js" charset="utf-8" defer></script>
    <script src="../../userIconTemplate.js" charset="utf-8" defer></script>
</head>

<body>

{{{body}}}


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io()
</script>
</body>
</html>