<section id="Civilianwin-title">
    <h1>The Civilians Win!</h1>
    <h3>The civilians successfully voted out the correct mafia!</h3>

    <h3>Congratulations on restoring peace!</h3>
    <h4>Good job for voting out {{mafiaName}}!!</h4>
</section>

<div id="block-round">
</div>

<div id="block-time">
</div>