<section id="chat">
    <div id="chat_window">
        
            <h3 id="chat_header">Chat</h3>
      
        <div id="chat-box">
        </div>
    </div>
    <div id="message-box">
        <form id="form">
            <input type="text" id="message-input" placeholder="Type here...">
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>
</section>



<section id = "users_icons">
    {{#each user_icons}}
        {{> userIcon}}
    {{/each}}
</section>


<div id="modal-backdrop" class="hidden"></div>
<div id ="username-modal" class="hidden">
    <div class="modal-content">
        <h2>Welcome to the Mafia Game!</h2>
        <p>Please wait while other users join</p>
        <p id ="player-username"></p>
        <br>
        <p id ="player-role"></p>
    </div>
</div>

<div id="turn-modal-backdrop" class="turnHidden"></div>
<div id ="turn-modal" class="turnHidden">
    <div class="turn-content">
        <h2>Not Your Turn</h2>
    </div>
</div>

<div id="mafia-modal-backdrop" class="mafiaHidden"></div>
<div id ="mafia-modal" class="mafiaHidden">
    <div class="mafia-content">
    </div>
</div>

<div id="doctor-modal-backdrop" class="doctorHidden"></div>
<div id ="doctor-modal" class="doctorHidden">
    <div class="doctor-content">
    </div>
</div>

<div id="sherif-modal-backdrop" class="sherifHidden"></div>
<div id ="sherif-modal" class="sherifHidden">
    <div class="sherif-content">
    </div>
</div>

<div id="gameOver-modal-backdrop" class="gameOverHidden">
    <div class="gameOver-content">
        <h2>You have been Eliminated, Now Spectating</h2>
    </div>
</div>
