<section id="chat">
    <div id="chat_window">
        <div id="chat_header">
            <h2>Chat</h2>
        </div>
        <div id="chat-box">
        </div>
    </div>
    <div id="message-box">
        <form id="form">
            <input type="text" id="message-input" placeholder="Type here...">
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>
</section>



<section id = "users_icons">
    {{#each user_icons}}
        {{> userIcon}}
    {{/each}}
</section>


<div id="modal-backdrop" class="hidden"></div>
<div id ="username-modal" class="hidden">
    <div class="modal-content">
        <h2>Welcome to the Mafia Game!</h2>
        <p id="player-username"></p>
        <br>
        <p id="player-role"></p>
    </div>
</div>

<div id="turn-modal-backdrop" class="turnHidden"></div>
<div id ="turn-modal" class="turnHidden">
    <div class="turn-content">
        <h2>Not Your Turn</h2>
    </div>
</div>

<div id="mafia-modal-backdrop" class="mafiaHidden"></div>
<div id ="mafia-modal" class="mafiaHidden">
    <div class="mafia-content">
    </div>
</div>



{{!-- 
<div id="modal-backdrop" class="hidden"></div>
<div id="notYourturnModal" class="modal">
    <div class="modal-content">
        <h2>Not your turn.</h2>
        <p>Please wait for your turn to play.</p>
        <button id="closeModal">Close</button>
    </div>
</div> --}}