
<section id="Mafiawin-title">
    <h1>The Mafia Won!</h1>
    <h3>Uh oh! The mafia still remained in the game with only one other person...</h3>

    <h3>This means certain doom for them</h3>

    <h4>Good job {{mafiaName}}!!</h4>
</section>

<div id="block-round">

</div>

<div id="block-time">

</div>